__pycache__
Class_Material/
IMU_Measurements/data/
Project/kernels/
Project/Report/*
!Project/Report/*.pdf
!Project/Report/*.tex
!Project/Report/*.png
!Project/Report/*.bib
.venv
.ruff_cache
*.png
!IMU_Measurements/plots/*.png